<h1>New Creature</h1>

<%= simple_form_for(@creature) do |f| %>
  <%= f.input :name %>
  <%= f.input :creature_type, :as => :select, :collection => Creature::CREATURETYPES %>
    <hr>
  <%= f.submit "Create Creature" %>
<% end %>

<%= link_to "Back to creatures", creatures_path %>



