<h2>Creature with Locations</h2>
<%= link_to "Add a location to a creature", new_creature_location_path %>
<%= link_to "Go back to home", maps_path %>
<hr>

  <table width="100%">
    <tr>
      <th>Name</th>
      <th>X-coordinate</th>
      <th>Y-coordinate</th>
      <th>Options</th>
    </tr>
    <tr>
      <% @creature_locations.each do |creature_location| %>
      <td align="center"><%= creature_location.creature.name %></td>
      <td align="center"> <%= creature_location.location.xcoor %></td>
      <td align="center"> <%= creature_location.location.ycoor %></td>
      <td align="center"><%= link_to "Destroy", creature_location_path(creature_location.id), :method => :delete, :data => { :confirm => "Are you sure you?" } %> </td>
    </tr>
      <% end %>
  </table>
